html{
    height: 100%;
}
body{
    background: #f5f5f5 url(../images/bg.jpg);
    height: 100%;
}
*, *.before, *.after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body, ul{
    margin: 0;
    padding: 0;
}
#chat{
    margin: 0 auto;
    min-width: 800px;
    max-width: 1000px;
    height: 100%;
    min-height:600px;
    max-height: 800px;
    border-radius: 3px;
    overflow: hidden;
}
.sidebar{
    float:left;
    width: 240px;
    background-color: #2e3238;
    color:#f4f4f4;
}
.m-card{
    padding: 9px;
    border-bottom: 1px solid #24272c;
}
#chat .main{
    position: relative;
    overflow: hidden;
    background-color: #eee;
    
}
#chat .main, #chat .sidebar{
    height: 100%;
}
#chat .m-message{
    height: calc(100% - 10pc);
    padding: 10px 15px;
}
.m-text{
    height: 10pc;
}
.m-text textarea{
    padding: 10px;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #efefef;
    border: none;
    resize: none;
}
.avatar{
    vertical-align: middle;
    border-radius: 2px;
}
.m-card{
    padding: 9pt;
}
.name{
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
}
.m-card footer{
    margin-top: 10px;
}
.m-card .search{
    padding: 0 10px;
    width: 100%;
    background: #26292e;
    height: 30px;
    line-height: 30px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;

}
.m-list li {
    padding: 9px 15px;
    border-bottom: 1px solid #292c33;
    cursor: pointer;
}
.m-list li.active {
    background-color: hsla(0,0%,100%,.1);
}
.m-message {
    padding: 10px 15px;
    overflow-y: scroll;
}
.m-message .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    max-width: calc(100% - 40px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;
}
.m-message .text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #fafafa;
}
.m-message .self .text:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #b2e281;
}
.m-message .avatar {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 3px;
}
.m-message .self {
    text-align: right;
}
.m-message .self .text {
    background-color: #b2e281;
}
.m-message .self .avatar {
    float: right;
    margin: 0 0 0 10px;
}
.m-message .time {
    margin: 7px 0;
    text-align: center;
}
.m-message .time>span {
    display: inline-block;
    padding: 0 18px;
    font-size: 9pt;
    color: #fff;
    border-radius: 2px;
    background-color: #dcdcdc;
}

.nick{
    color: #a5a5a5;
    font-size:10px;
    margin-bottom: 3px;
}

.toolbar {
	border-top: 1px solid #fefefe;
    height: 30px;
    padding: 5px 17px;
    box-sizing: content-box;
}
.select-pic{
	display: block;
	width: 30px;
    height: 30px;
    background: url(../images/wechatmanypic.png) no-repeat;
    background-position: -120px -432px;
    background-size: 487px 462px;
    cursor: pointer;
}
.action {
    text-align: right;
    margin-top: 5px;
}
.btn_send {
	display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 3px 20px;
    font-size: 14px;
    background-color: #fff;
    color: #222;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    cursor: pointer;
}
